/* HOSE  */

.exchange-platform {
  margin: 50px 100px;
}

.platform {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 0;
}

.platform h2 {
  margin-right: 10px;
}

.table-head {
  margin: 20px 0;
}

.col {
  flex-basis: 45%;
}

.table-content {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.20);
}

.table-content tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.227);
}

.table-content tbody tr:last-of-type {
  border-bottom: 5px solid #9BA4B5;
}

.table-content th {
  background-color: rgba(0, 0, 0, 0.605);
  padding: 8px;
  text-align: left;
  color: white;
}

.table-content td {
  padding: 8px;
  text-align: left;
  color: white;
}

.table-content tbody tr {
  transition: all 0.3s ease;
}

.table-content tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.587);
}

/* HNX  */
.hnx-container {
  background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
  padding: 20px 0;
}