@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");


/* Start Hero */
#hero{
  /* width: 100%; */
  height: auto;
  padding: 5% 12%;
  position: relative;
}

.hero-row{
  margin: auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  gap: 50px
}

.hero-highligt {
  flex-basis: 45%;
  max-width: 600px;
  transition: 0.5s ease;
}

.highlight-news {
  margin: 20px 0;
  text-align: center;
}

.highlight-news h3{
  margin: 0 8px 0 0;
}

.hnews-box {
  background-color: rgba(0, 0, 0, 0.148);
  border-radius: 12px;
  padding: 15px;
  z-index: 20;
  transition: all 0.5s ease;
}

.hnews-box:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.586);
  transform: translate(0px, -5px); 
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.3);
}

.hnews-content {
  max-width: 600px;
}

.hnews-content h5 {
  font-size: 18px;
  margin: 15px 0;
}

.hnews-content p,
.cat-item p{
  font-size: 16px;
  margin: 10px 0;
}

.hnews-box img {
  border-radius: 10px;
  width: 100%;
  max-width: 610px;
}

.hero-slogan {
  flex-basis: 45%;
  display: flex;
  transition: 0.5s ease;
  flex-direction: column;
}

.detail-slogan {
  max-width: 530px;
  display: flex;
  flex-direction: column;
}

.news-cat {
  max-width: 530px;
}

.cat-col {
  display: flex;
  flex-direction: column;
}

.news-cat .sub-news {
    margin-bottom: 20px;
}

.detail-slogan h1, p {
  margin: 0 0 30px 0;
}

/* End Hero */

/* Start Services */
#service {
  height: auto;
  padding: 100px 10%;
  position: relative;
  background-size: cover;
}

#service .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 20;
}

.service-row {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 50px
  /* flex-wrap: wrap; */
}

.service-box img {
  min-width: 320px;
  min-height: 180px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(0.8);
  z-index: -1;
}

.service-box h5 {
  font-size: 18px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10;
}

.service-box {
  width: 310px;
  height: 170px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #fff;
  position: relative;
  display: block;
  margin: 40px auto;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.service-box::before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #000000a0;
  height: 0%;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.service-box:hover::before {
  height: 100%;
}

.service-box:hover {
  border-radius: 5px;
  transform: translate(0px, -10px); 
  cursor: pointer;
}
/* End Services */

/* start about-us */

/* end about-us */
@media screen and (max-width: 1760px){
  #service {
    height: auto;
    padding: 100px 5px;
    position: relative;
    background-size: cover;
  }
  .service-box {
    width: 250px;
    height: 140px;
  }
}

@media screen and (max-width: 1440px){
  #hero {
    padding: 5% 10px;
  }
  #service {
    height: auto;
    padding: 100px 20px;
    position: relative;
    background-size: cover;
  }
  .service-box {
    width: 250px;
    height: 140px;
  }
  .hero-highlight {
    flex-basis: 45%;
    width: 400px;
  }
  .hero-slogan {
    width: 400px;
  }
  .hero-row {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1260px){
  #service {
    height: auto;
    padding: 100px 20px;
    position: relative;
    background-size: cover;
  }
  .service-head {
    margin-bottom: 30px;
  }
  .service-box {
    width: 200px;
    height: 180px;
    flex-basis: 45%;
    margin: 10px auto;
  }
  .service-row {
    gap: 20px;
    flex-wrap: wrap;
  }
  .hero-row {
    margin: 0 30px;
    padding: 0 30px;
  }
  .highlight-news h2{
    font-size: 40px !important;
  }
}

@media screen and (max-width: 1024px){
  .hero-row{
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
  }
  .hero-highlight {
    flex-basis: 45%;
    width: 400px;
  }
}

@media screen and (max-width: 768px){
  .hero-row{
    flex-wrap: wrap;
  }
  .hero-highlight {
    flex-basis: 100% !important;
    padding: 0 20px;
    width: 600px;
  }
  .hero-slogan {
    flex-basis: 100% ;
    padding: 0 10px;
  }
  .detail-slogan ,
  .news-cat{
    max-width: 100vw;
    max-width: none;
  }
  .news-cat .sub-news {
    margin-bottom: 20px;
    max-width: 100vw;
  }
  .highlight-news h2{
    font-size: 50px !important;
  }
  .cat-col .sub-news p{
    width: 100%;
  }
  .readmore-button {
    margin: auto;
  }
}


@media screen and (max-width: 425px){
  .hero-highlight {
    flex-basis: 100% !important;
    padding: 0 5px;
    width: 600px;
  }
  .hero-slogan {
    flex-basis: 100%;
    padding: 0 5px;
  }
  .highlight-news h2{
    font-size: 40px !important;
  }
  .service-box {
    width: 190px;
    height: 180px;
    flex-basis: 100%;
    margin: 10px auto;
  }
  img.float-left {
    float: none;
    width: 100%;
    max-height: 180px;
  }
}

