@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #212a3e, #9ba4b5);
  background-size: cover;
  backdrop-filter: blur(100px);
  background-repeat: no-repeat;
}

.background { 
  position: absolute; 
  min-height: 100vh;
  height: 100%; 
  width: 100%; 
  background-image: url(../img/wallpaperflare.com_wallpaper.jpg); 
  background-size: cover; 
  background-position: center; 
  filter: blur(10px); 
  z-index: -1; 
} 

.line {
  height: 4px;
  background-color: #ededed;
  margin: 50px auto 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.icon {
  width: 20px;
  filter: invert(100%) brightness(80%);
  margin: 0 10px ;
  transition: all 0.3s ease;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

.align-center {
  display: flex;
  justify-content: center;
}

.left-align {
  justify-content: left;
}

div {
  box-sizing: border-box;
}

.highlight {
  color: #8ab3c1;
  font-weight: bold;
}

.highlight-2 {
  color: #8ab3c1;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 65px;
  font-weight: bold;
}

h2 {
  margin: 0;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

h3 {
  margin: 0;
  color: #fff;
  font-size: 38px;
  font-weight: bold;
}

h4 {
  margin: 0;
  color: #f8f8f8;
  font-size: 30px;
  font-weight: bold;
}

h5 {
  margin: 0;
  color: #f8f8f8;
  font-size: 18px;
  font-weight: bold;
}
h6 {
  margin: 0;
  color: red;
  font-size: 15px;
  font-weight: bold;
}

p {
  color: #fff;
  font-size: 18px;
  margin: 0;
  /* text-align: justify; */
}

li {
  list-style: none;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
}

span {
  color: #000;
  font-size: 18px;
}

/* button readmore */

.readmore-button {
  background-color: #878f9d;
  width: 200px;
  margin: 40px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.readmore-button a {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.readmore-button:hover {
  background-color: #757b88;
  transform: translate(0px, -15px);
}
/* end button readmore */

/* Start Header  */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;;
}

#header {
  /* width: 100%; */
  height: 80px;
  background: #11101b;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  z-index: 999;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fefefe;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  transition: 0.2s;
  margin: 0 5px;
  position: relative;
  transition: all 0.3s ease;
  text-wrap: nowrap;
}

.nav-bar ul li a:hover {
  color: #a5d7e8;
}

.nav-bar ul li a.active {
  color: #a5d7e8;
}

.nav-bar ul li a::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: 5px;
  left: 24px;
  background-color: #a5d7e8;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: left;
}

.nav-bar ul li a:hover::after {
  transform: scaleX(1);
}

@media only screen and (max-width: 1320px){
  #header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1120px){
  #header {
    padding: 0 30px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    overflow: hidden;
    transition: 0.5s;
  } 
  .nav-bar.active {
    height: auto;
    z-index: 100;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin:  40px 0  ;
    text-align: center;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
    text-align: left;
  }
}
/* End Header  */

/* Start footer  */
#footer {
  height: auto;
}

#footer a {
  margin: 8px 0;
}

.footer-row {
  max-width: 1380px;
  margin: auto;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-box {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 30px;
  max-width: 250px;
  min-width: 200px;
}

.footer-box img {
  width: 18px;
  margin: 0 10px 10px 0;
  filter: invert(100%) brightness(200%);
}

.contact-link-box a {
  display: flex;
  flex-wrap: nowrap;
}

.contact-link-box p,
.info-box p {
  margin: 0 10px 10px 0;
  font-size: 16px;
}

.social-info,
.info-box,
.link-boxes,
.sub-box,
.contact-link-box {
  margin-top: 8px;
}

.inner-link {
  display: flex;
  flex-direction: column;
}
/* End footer  */

/* Sub-news */
.news-row {
  display: flex;
  justify-content: space-between;
}

.sub-news,
.main-news {
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.211);
  padding: 2%;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.sub-news:hover,
.main-news:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.594);
  transform: translate(0px, -15px);
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.3);
}
/* End sub news  */

/* Busi nav */
.busi-nav {
  margin: 20px 0;
}

.busi-nav .nav-row {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.605);
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.122);
  border-radius: 0 0 10px 10px;
  width: max-content;
}

.nav-content {
  margin: 0;
  padding: 0;
}



.busi-nav .nav-slogan {
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.587);
  border-radius: 0 0 0 10px;
}

.hav-slogan h5 {
  margin: 0;
  padding: 0;
}

.bnav-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  /* padding: 0; */
}

.bnav-item {
  height: 100%;
  padding: 12px 15px;
  display: flex;
  position: relative;
  transition: all 0.3s ease;
  transition: background-color 0.4s;
}

.bnav-item::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.605);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 0;
}

.bnav-item:hover::before {
  width: 100%;
}

.bnav-item a {
  white-space: nowrap;
  z-index: 10;
}

/* Slide show  */
.slide-show {
  overflow: hidden;
  position: relative;
}

.list-imgs img {
  max-width: 745px;
}

.list-imgs {
  display: flex;
  transition: all 0.7s ease;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.463);
  cursor: pointer;
}

.btn {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.122);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  display: flex;
  padding: 2px 0;
  border-radius: 50%;
}

.btns img:hover {
  filter: invert(100%) brightness(200%);
}

.btn-l {
  left: 5px;
}

.btn-r {
  right: 5px;
}

.btns img {
  transition: 0.5s;
  width: 30px;
}

.bnav-item.active {
  background-color: rgba(0, 0, 0, 0.605);
}
/* End slide show  */

/* Start table  */
.table-content {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.table-content tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.227);
}

.table-content tbody tr:last-of-type {
  border-bottom: 5px solid #9ba4b5;
}

.table-content th {
  background-color: rgba(0, 0, 0, 0.605);
  padding: 8px;
  text-align: left;
  color: white;
}

.table-content td {
  padding: 8px;
  text-align: left;
  color: white;
}

.table-content tbody tr {
  transition: all 0.3s ease;
}

.table-content tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.587);
}

/* end table  */

/* wrap news  */
.float-news {
  margin: 10px 0 0 0;
}

img.float-left {
  float: left; /* Set the image to float left */
  margin: 0 10px 0 0;
  width: 100px;
}
