body {
  height: auto;
  background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
  backdrop-filter: blur(10px);
}

.news-highlight {
  color: red;
}

/* Highlight zone  */
.zone-content {
  display: flex;
  flex-direction: column;
}

.h-header {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.zone-content h1 {
  text-align: center;
  margin-left: 18px;
}

.zone-content p,
.fzone-content p {
  font-size: 16px;
  margin: 10px 0;
}

.zone-content img,
.normal-zone img {
  width: 100%;
  border-radius: 2%;
}

.news-container {
  padding: 2% 10%;
}

.highlight-zone {
  margin: 10px 0;
}
/* 
.zone-content {

} */

.news-row {
  display: flex;
  justify-content: space-between;
}

.news-col {
  flex-basis: 23%;
}

.main-news-col {
  flex-basis: 48%;
}

.snews-row {
  display: flex;
  justify-content: space-between;
}

.snews-row .sub-news {
  flex-basis: 48%;
}

.sub-news,
.main-news {
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.211);
  padding: 2%;
  border-radius: 5%;
  transition: all 0.5s ease;
}

.sub-news:hover,
.main-news:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.594);
  transform: translate(0px, -15px); 
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.3);
}

/* end highlight zone  */

/* start normal-zone  */
.focus-zone {
  padding: 0 90px;
}
.fnews-col {
  flex-basis: 30%
}

.f-content h6,
.f-content h5 {
  margin: 10px 0;
}

.sub-news h6 {
  margin: 5px 0;
}

.focus-header {
  margin: 20px 10px;
}
/* end normal-zone  */
