body {
  height: auto;
  background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
  backdrop-filter: blur(10px);
}

.normal {
  color: white;
}

.stock-container {
  padding: 20px 2%;
}

.stock-container p {
  font-size: 15px;
  margin-bottom: 5px;
}

.sub-news {
  margin-bottom: 20px;
}

.stock-container img {
  width: 100%;
  border-radius: 10px;
}

/* stock tab  */
.stock-tab {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.finance-header {
  margin: 20px ;
}

.ohlc {
  margin: 0;
  padding: 5px;
  display: flex;
}

.ohlc li {
  display: flex;
}

.ohlc h6 {
  margin: 3px;
  font-weight: 600;
}
.ratio-box {
  margin: 20px 0;
}

.ratio p {
  text-align: right;
}

.ratehead {
  color: #3ca7d2;
}
/* end stock tab  */

/* stock news  */
.stock-news {
  flex-basis: 40%;
}

.news-col {
  display: flex;
  flex-direction: column;
}

.snew-content {
  display: flex;
}

.snew-content h5, 
.snew-conntent h6 {
  margin-bottom: 10px;
}

.snew-content img {
  width: 250px;
  margin-right: 20px;
}

/* read-most */
.most-read {
  flex-basis: 20%;
}

.line {
  height: 4px; 
  background-color: #ededed; 
  margin: 10px auto 10px; 
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.rank {
  flex-basis: 20%;
  max-width: 25px;
  max-height: 25px;
  display: flex;
  justify-content: center;
  background-color: #ededed;
  border-radius: 100%;
  margin: 10px 10px 10px 2px;
}

